body {
    background-image: url(../img/1323984.png);
}

*{
    box-sizing: border-box;
}

/* NAV */

header nav{
    background-color: rgba(149, 170, 97, 0.97);
}

header nav.navbar a{
    color: whitesmoke;
}
header nav button.navbar-toggler{/*color del menu desplegable en resoluciones menores a 990px aproximadamente*/
    background-image: url("../img/menu.png");
    background-repeat: no-repeat;
    background-size:40px 40px;
    background-position: top;
}

/* FAQ */

main {
    background-color: rgba(208, 218, 172, 0.985);
}

main div.tituloPrincipal {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main div.tituloPrincipal h2 {
    text-align: center;
    margin-top: 20px;
}

main section div.accordion{
    width: 80%;
    margin: 20px auto 0;
    padding-bottom: 50px;
}

main section div.accordion div.card {
    border-color: #887953;
}

main section div.accordion div.card div.card-header{
    background-color: #d4c49b;
}

main section div.accordion div.card div.card-header h2 button{
    color: black;
}

main section div.accordion div.card div div.card-body{
    background-color: #ebe5d7;
}

/* FOOTER */

footer {
    background-color:rgba(115, 136, 64, 0.97);
}

footer {
    display: flex;
    padding: 10px;
    align-items: center;
}

footer section{
    width: 100%;
    margin: 20px, auto;
    text-align: center;
}

footer section a{
    text-decoration: none;
    color: #FFFAF9;
    margin: 10px;
}

footer section a:hover{
    color: #FFFAF9;
}

footer section.redes h6{
    color: #FFFAF9;
    margin-bottom: 15px;
}

footer section.redes a i{
    width: 36px;
    height: 36px;
    border: solid white 2px;
    border-radius: 36px;
    padding-top: 8px;
}

/* RESPONSIVE */
@media (max-width: 1199px){
    main div section.preguntas form img{
        margin-top:10px;
        margin-left: 27%;
        border-radius: 30px;
    }
}
@media (max-width: 991px){
    main div section.preguntas form img{
        margin-top:10px;
        margin-left: 18%;
        border-radius: 30px;
    }
}

@media (max-width: 767px) {
    main div section.preguntas form img{
        margin-top:10px;
        margin-left: 3%;
        border-radius: 30px;
    }
    /* FOOTER */

    footer {
        display: flex;
        flex-direction: column;
    }

    footer section {
        margin-bottom: 20px;
        border-right: none;
        border-bottom: solid white 1.5px;
        padding-bottom: 15px;
    }

    footer section:first-child{
        margin-top: 10px;
    }

    footer section:last-child{
        margin-bottom: 0;
        border-bottom: none;
    }
}

@media (max-width: 575px){
    main div section.preguntas form img{
        margin-top:10px;
        margin-left: 6%;
        border-radius: 30px;
    }
}
