body {
    background-image: url(../img/1323984.png);
}

*{
    box-sizing: border-box;
}

/* NAV */

header nav{
    background-color: rgba(149, 170, 97, 0.97);
}

header nav.navbar a{
    color: whitesmoke;
}
header nav button.navbar-toggler{/*color del menu desplegable en resoluciones menores a 990px aproximadamente*/
    background-image: url("../img/menu.png");
    background-repeat: no-repeat;
    background-size:40px 40px;
    background-position: top;
}
/* MAIN */

main {
    background-color: rgba(208, 218, 172, 0.985);
}

main div.tituloPrincipal {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main div.tituloPrincipal h1 {
    text-align: center;
    margin-top: 20px;
}

main div.tituloPrincipal p {
    width: 50%;
    margin-top: 10px;
}

main div{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

main div section{
    width: 40%;
    margin: 20px;
}

/* CATEGORIAS */

main div section.categorias{
    background-color: #dacdac;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

main div section.categorias article.titulo h2 {
    padding-top: 10px;
    font-size: 25px;
    text-align: center;
}

main div section.categorias article.categoria {
    background-color: #e4d6ae;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    height: 100%;
}

main div section.categorias article.categoria ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-left: -40px;
}

main div section.categorias article.categoria ul li{
    padding: 3px;
}

main div section.categorias article.categoria ul li a {
    color: #324353;
    background-color: #dbc5ac;
    border-radius: 10px;
    margin: 5px;
    display: block;
    text-align: center;
    font-size: 20px;
}

main div section.categorias article.categoria ul li a:hover{
    background-color:  #fc9d30 ;
}

main div section.categorias article.boton{
    margin: 5px auto;
}

main div section.categorias article.boton a{
    border-color: #8a4900;
    color: #8a4900;
}

main div section.categorias article.boton a:hover{
    background-color: #ad7536;
    border-color: #8a4900;
    color:whitesmoke;
}

/* RANKING */

main div section.ranking{
    background-color: #dacdac;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

main div section.ranking article.titulo{
    display: flex;
    justify-content: center;
    padding-top: 5px;
}

main div section.ranking article.titulo h2{
    font-size: 25px;
    margin-left: 10px;
    margin-top: 5px;
}

main div section.ranking article.posiciones{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e4d6ae;
    border-radius: 10px;
    margin: 0 10px;
}

main div section.ranking article.posiciones ol {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin-right: 40px;
}

main div section.ranking article.posiciones ol li{
    padding: 3px;
    display: flex;
    align-items: center;
}

main div section.ranking article.posiciones ol li:first-child{
    margin-top: 5px;
}

main div section.ranking article.posiciones ol li a {
    color: #324353;
    border-radius: 10px;
    margin: 5px;
    display: block;
    font-size: 20px;
}

main div section.ranking article.posiciones ol li img{
    width: 3vw;
}

main div section.ranking article.boton{
    margin: 5px auto;
}
main div section.ranking article.boton a{
    border-color: #8a4900;
    color: #8a4900;
}

main div section.ranking article.boton a:hover{
    background-color: #ad7536;
    border-color: #8a4900;
    color:whitesmoke;
}

/* Perfil */

main div section.profile{
  background-color: #dacdac;
  border-radius: 15px;
  padding: 10px;
  width: 230px;
}
main div section.profile article.profpic{
  margin-bottom: 10px;
}
main div section.profile article.profinfo a{
  display: flex;
  flex-direction: row-reverse;
  font-size: 12px;
}
main div section.profile article.profinfo a:hover{
  text-decoration: underline;
}
main div section.profile article.profinfo p.campos{
  background-color: #dbc5ac;
  border-radius: 10px;
  padding-left: 5px;
}
main div section.profile article.profinfo ul{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  margin-left: -54px;
}
main div section.profile article.profinfo ul li{
  padding: 20px;
}
main div section.profile article.profinfo img.separador{
  margin: 50px 0px;
}
main div section.profile article.profinfo button{
  background-color: #dbc5ac;
  border-color: #8a4900;
  color: #8a4900;
}
section.perfeed article.feed div{
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  background-color: mediumSeaGreen;
  padding-top: 80px;
  padding-bottom: 100px;
  border-radius: 15px;
}

/* Editar */

main.profedit{
  padding: 40px 20% 40px 40px;
}
main.profedit section.edit {
  background-color: #e4d6ae;
  padding: 15px;
  border-radius: 15px;
}
main.profedit section.edit article.pic{
  display: flex;
  flex-direction: row;
}
main.profedit section.edit article.pic button{
  margin-top: 150px;
  margin-left: 10px;
}
main.profedit section.edit article.info form{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 35%;
}
main.profedit section.edit article.info form input{
  margin-left: 0px;
}
main.profedit section.edit button{
  margin-top: 20px;
  background-color: #dbc5ac;
  border-color: #8a4900;
  color: #8a4900;
}

/* Sugerir */

main section.subquest p{
  padding: 20px;
  font-weight: bolder;
}
main section.subquest select{
  margin-left: 10px;
}
main section.subquest textarea{
  margin: 10px;
}
main section.subquest button{
  margin: 15px;
  background-color: #dbc5ac;
  border-color: #8a4900;
  color: #8a4900;
}

/* ABM */

main.abm{
  padding: 40px;
}
main section.modif{
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px 20%;
  background-color: #dbc5ac;
  border-radius: 15px;
}
main section.modif button{
  width: 40%;
  margin: 15px 0px;
  background-color: #dbc5ac;
  border-color: #8a4900;
  color: #8a4900;
}
main section.modif h3{
  margin-top: 60px;
}
main section.modif textarea.modi{
  margin-top: 15px;
}
main section.modif div.roto{
  background-color: #dbc5ac;
}
main section.modif div.roto a{
  margin-top: 10px;
  background-color: #dbc5ac;
  border-color: #8a4900;
  color: #8a4900;
  border-radius: 10px;
}

/* FOOTER */

footer {
    background-color:rgba(149, 170, 97, 0.97);
}

footer {
    display: flex;
    padding: 10px;
    align-items: center;
}

footer section{
    width: 100%;
    margin: 20px, auto;
    text-align: center;
}

footer section a{
    text-decoration: none;
    color: #FFFAF9;
    margin: 10px;
}

footer section a:hover{
    color: #FFFAF9;
}

footer section.redes h6{
    color: #FFFAF9;
    margin-bottom: 15px;
}

footer section.redes a i{
    width: 36px;
    height: 36px;
    border: solid white 2px;
    border-radius: 36px;
    padding-top: 8px;
}

/*Contact*/

main div section.categorias iframe{/*mapa*/
    margin-left: 4.5%;
    margin-bottom:3%;
    width: 90%;
    border-radius: 12px;
}

/* Login Y Registro */

form label{ /*nombre de usuario, contraseña, confirmar contraseña*/
    display: block;
    text-align: center;
    color: #324353;
    border-radius: 10px;
    margin: 5px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 5px;
}

main form div.alLado{ /*Recordar*/
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 5px;
}

main form div.alLado input{
    margin-top: 2px;
}

form label a{/*link para crear cuenta o loguear*/
    font-size: 13px;
    text-decoration: none;
    text-decoration: underline;
    color: #324353;
}
form input{
    margin-left: 29%;
}

form article.boton {
    display: flex;
    justify-content: center;
}

form article.boton button{
    background-color: transparent;
    border-color:  #8a4900;
    color:#8a4900;
}

form article.boton button:hover{
    background-color: #ad7536;
    border-color: #8a4900;
    color:whitesmoke;
}

form article.categoria small{
    color: red;
    margin-left: 30%;
    max-width: 40%;
}


/* RANKING PAG */

main section.tabla {
    width: 75%;
    margin: 20px auto;
}

main section.tabla table thead{
    background-color: #dacdacb2;
    border-top: #ac9b6d 2px solid;
}

main section.tabla table tbody {
    border-top: #ac9b6d 3px solid;
}

main section.tabla table tbody tr {
    border-bottom: #ac9b6d 2px solid;
}

main section.tabla table tbody td a {
    color: black
}

/* RESPONSIVE */
@media (max-width: 1199px){
    /*Formulario de registro y login*/
        form input{
            margin-left:25%;
        }
}
@media (max-width: 991px){
    /*Formulario de registro y login*/
        form input{
            margin-left:31%;
        }

        main div section {/*responsive*/
            width: 70%;
            margin: 20px;
        }

        form article.categoria small{
            margin-left: 32%;
        }
}
@media (max-width:767px){
    /*Formulario de registro y login*/
        form input{
            margin-left:30%;
        }
        main div#nobroken {
            display: block;
            padding-bottom: 8px;
        }
        main div section#nobroken{
            margin-left: 30px;
            margin-right: 30px;
            width: 86%;
        }
        main div#nobroken section.ranking{
            margin-left: 30px;
            margin-right: 30px;
            width: 86%;
        }

    /* MAIN */

        main div{
            display: flex;
            flex-direction: column;
        }

        main div section {
            width: 90%;
            margin: 20px;
        }

    /*Recordarme*/

        main form div.alLado{ /*Recordar*/
            flex-direction: row;
        }   

    /* FOOTER */

        footer {
            display: flex;
            flex-direction: column;
        }

        footer section {
            margin-bottom: 20px;
            border-right: none;
            border-bottom: solid white 1.5px;
            padding-bottom: 15px;
        }

        footer section:first-child{
            margin-top: 10px;
        }

        footer section:last-child{
            margin-bottom: 0;
            border-bottom: none;
        }
}

@media (max-width: 575px){/*Responsive del formulario de registro y login*/
    main div form input{
        margin-left:28%;
    }
    main{
        height: 100%;
    }
    main div#nobroken {
        display: block;
    }
    main div section#nobroken{
        width: 86%;
    }
}
